[Unit]
Description=Restart thinkpad_power_adj on system resume
After=hibernate.target suspend.target

[Service]
ExecStart=/bin/sh -c 'if [ -p /var/tmp/thinkpad_power_adj/fifo ]; then echo sys_resumed > /var/tmp/thinkpad_power_adj/fifo; else systemctl restart thinkpad_power_adj; fi'
Type=oneshot

[Install]
WantedBy=hibernate.target suspend.target
